body {
  background: #e9ebee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  header {
    background: #4267b2;
    border-bottom: 1px #29487d;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }

  .post {
    width: 700px;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-left: 350px;
    padding: 30px;
    background-color: #fff;

    img {
      width: 60px;
      height: 60px;
    }

    hr {
      height: 1px;
      background-color: #eee;
    }

    .nome {
      font-size: 16px;
      color: #666;
    }

    .tempo {
      font-size: 14px;
      color: #999;
    }

    .conteudo {
      font-size: 16px;
      color: #333;
      text-align: justify;
    }
  }
}
